<div class="row mt-3">
  <div class="col">
    <h5>Routines <small class="text-muted">per day</small></h5>
    <%= area_chart(@routine_count, discrete: true) %>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h5>Routine Types <small class="text-muted">totals</small></h5>
    <%= column_chart(@routine_types) %>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h5>Routine Types <small class="text-muted">weight based; per workout</small></h5>
    <%= line_chart(@routine_types_weight, ytitle: 'Routine Count', xtitle: 'Workout Date', discrete: true) %>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h5>Routine Types <small class="text-muted">time based; per workout</small></h5>
    <%= line_chart(@routine_types_time, ytitle: 'Routine Count', xtitle: 'Workout Date', discrete: true) %>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h5>Routine Types <small class="text-muted">distance based; per workout</small></h5>
    <%= line_chart(@routine_types_distance, ytitle: 'Routine Count', xtitle: 'Workout Date', discrete: true) %>
  </div>
</div>
