<div class="row mt-3">
  <div class="col">
    <%= form_tag(graphs_workouts_path, method: :get, enforce_utf8: false, class: 'form-inline') do %>
      <%= select_tag(:date_range, graph_date_range_options, class: 'custom-select mr-2') %>
      <%= submit_tag('Filter', name: nil, class: 'btn btn-primary') %>
      <%= link_to('Clear', graphs_workouts_path, class: 'btn btn-link') %>
    <% end %>
  </div>
</div>

<%= graph_row do %>
  <h5>Routine Types <small class="text-muted">totals</small></h5>
  <%= column_chart(@routine_types) %>
<% end %>

<%= graph_row do %>
  <h5>Routines <small class="text-muted">per day</small></h5>
  <%= area_chart(@routine_count, discrete: true) %>
<% end %>

<%= graph_row do %>
  <h5>Routine Types <small class="text-muted">weight based; per workout</small></h5>
  <%= line_chart(@routine_types_weight, ytitle: 'Routine Count', discrete: true) %>
<% end %>

<%= graph_row do %>
  <h5>Routine Types <small class="text-muted">time based; per workout</small></h5>
  <%= line_chart(@routine_types_time, ytitle: 'Routine Count', discrete: true) %>
<% end %>

<%= graph_row do %>
  <h5>Routine Types <small class="text-muted">distance based; per workout</small></h5>
  <%= line_chart(@routine_types_distance, ytitle: 'Routine Count', discrete: true) %>
<% end %>
