<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Set</th>
      <th scope="col">Heavy Bag Minutes</th>
      <th scope="col">Bench Press lbs</th>
      <th scope="col">Bench Press Reps</th>
      <th scope="col">Arm Curl lbs</th>
      <th scope="col">Arm Curl Reps</th>
      <th scope="col">Leg Curl lbs</th>
      <th scope="col">Leg Curl Reps</th>
      <th scope="col">Leg Curl Laying lbs</th>
      <th scope="col">Leg Curl Laying Reps</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <th scope="col"><%= workout.date %></th>
      <td><%= workout.set %></td>
      <td><%= workout.heavy_bag_minutes %></td>
      <td><%= workout.bench_press_lbs %></td>
      <td><%= workout.bench_press_reps %></td>
      <td><%= workout.arm_curl_lbs %></td>
      <td><%= workout.arm_curl_reps %></td>
      <td><%= workout.leg_curl_lbs %></td>
      <td><%= workout.leg_curl_reps %></td>
      <td><%= workout.leg_curl_laying_lbs %></td>
      <td><%= workout.leg_curl_laying_reps %></td>
    <% end %>
  </tbody>
</table>
