<nav>
  <span class="float-left">
    <%= render 'actions', workout: @workout %>
  </span>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Workouts', workouts_path) %></li>
    <li class="breadcrumb-item active"><%= @workout.date %></li>
  </ol>
</nav>

<% if current_user.settings.rest_timer? && params[:rest_timer].present? %>
  <%= render 'rest_timer' %>
<% end %>

<%= render 'set_timer' %>

<%= render 'routines/form' %>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Set</th>
        <th scope="col">Routine</th>
        <th scope="col">lbs</th>
        <th scope="col">Reps</th>
        <th scope="col">Mins</th>
        <th scope="col">Dist</th>
      </tr>
    </thead>

    <tbody>
      <% @workout.routines.each do |routine| %>
        <% next if routine.new_record? %>

        <tr>
          <td><%= render 'routines/actions', routine: routine %></td>
          <td><%= routine.set_number %></td>
          <td><%= routine.routine_type.name %></td>
          <td><%= routine.lbs %></td>
          <td><%= routine.reps %></td>
          <td><%= routine.minutes %></td>
          <td><%= routine.distance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="new-routine-type-modal" class="modal fade" tabindex="-1" role="dialog"></div>
