<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Workouts', workouts_path) %></li>
    <li class="breadcrumb-item active"><%= @workout.date %></li>
  </ol>
</nav>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Set</th>
        <th scope="col">Routine</th>
        <th scope="col">lbs</th>
        <th scope="col">Reps</th>
        <th scope="col">Mins</th>
      </tr>
    </thead>

    <tbody>
      <% @workout.routines.each do |routine| %>
        <tr>
          <td><%= render 'routines/actions', routine: routine %></td>
          <td><%= routine.set_number %></td>
          <td><%= routine.routine_type.name %></td>
          <td><%= routine.lbs %></td>
          <td><%= routine.reps %></td>
          <td><%= routine.minutes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= form_for(@workout.routines.new(set_number: params[:set_number])) do |f| %>
  <%= f.hidden_field(:workout_id) %>

  <div class="form-row">
    <div class="form-group col-2">
      <%= f.number_field(:set_number, placeholder: 'set', class: 'form-control') %>
    </div>

    <div class="input-group col mb-3">
      <%= f.select(:routine_type_id,
                   options_from_collection_for_select(@routine_types, :id, :name, params[:routine_type_id]),
                   {prompt: '-- Routine Type --'},
                   {class: 'custom-select'}) %>

      <div class="input-group-append">
        <%= link_to('+', new_routine_type_path(workout_id: @workout.id), data: { toggle: 'modal', target: '#new-routine-type-modal' }, remote: true, class: 'btn border border-secondary') %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= f.number_field(:lbs, placeholder: 'lbs', class: 'form-control') %>
    </div>
    <div class="form-group col">
      <%= f.number_field(:reps, placeholder: 'reps', class: 'form-control') %>
    </div>
    <div class="form-group col">
      <%= f.number_field(:minutes, placeholder: 'minutes', class: 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit('Log', class: 'btn btn-lg btn-success') %>
    <%= f.submit('Log & New Set', name: 'new_set', class: 'btn btn-lg btn-light') %>
  </div>
<% end %>

<div id="new-routine-type-modal" class="modal fade" tabindex="-1" role="dialog"></div>
