<nav class="navbar navbar-expand-xs navbar-dark bg-primary">
  <%= link_to('Workout', root_path, class: 'navbar-brand') %>

  <ul class="navbar-nav mr-auto">
    <% if current_page?(root_path) || current_page?(new_workout_path) %>
      <li class="nav-item <%= 'active' if current_page?(new_workout_path) %>">
        <%= link_to('Start', new_workout_path, class: 'btn btn-outline-light my-2 my-sm-0') %>
      </li>
    <% end %>
  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(routine_types_path, class: 'nav-link') do %>
            <%= icon('fas', 'dumbbell') %> Routine Types
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to(graphs_workouts_path, class: 'nav-link') do %>
            <%= icon('fas', 'chart-line') %> Graphs
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to(destroy_user_session_path, method: :delete, class: 'nav-link') do %>
            <%= icon('fas', 'sign-out-alt') %> Logout
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to(new_user_session_path, class: 'nav-link') do %>
            <%= icon('fas', 'sign-in-alt') %> Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
