<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <% if @routine_type.new_record? %>
          New Routine Type
        <% else %>
          Edit: <%= @routine_type.name %>
        <% end %>
      </h5>

      <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
      </button>
    </div>

    <%= form_for(@routine_type) do |f| %>
      <%= hidden_field_tag(:workout_id, params[:workout_id]) %>

      <div class="modal-body">
        <div class="form-group">
          <%= f.label(:name) %>
          <%= f.text_field(:name, class: 'form-control') %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <%= f.submit('Save', class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>
