<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <%= link_to('Workout', root_path, class: 'navbar-brand') %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if current_page?(new_workout_path) %>">
            <%= link_to('Start', new_workout_path, class: 'nav-link') %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <% flash.each do |type, msg| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
          <%= msg %>
          <button class="close" data-dismiss="alert">x</button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
